@import '../css/reset.css';

@font-face {
    font-family: trajanpro;
    src: url("../font/trajan/Trajan\ Pro\ Regular.ttf");
}

@font-face {
    font-family: trajanpro;
    src: url("../font/trajan/Trajan\ Pro\ Bold.ttf");
    font-weight: bold;
}